// ---- POST FORMATTING BEGIN ----

.post-thumbnails {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin:2em;
}

.pagination_links {
  display: block;
  margin: 1em;
  margin-bottom: 80px;
}

.previous_button,
.next_button {
  background: $lighter-grey;
  padding: 5px;
  width: 100px;
  text-align: center;
  border: 1px solid $light-grey;
  color: $darker-grey;
  border-radius: 10px;
  text-decoration: none;
  // margin-bottom: 40px;

  &:hover {
    background: $dark-grey;
    color: $light-grey;
  }

  &:active {
    background: $darkest-grey;
    color: $lightest-grey;
  }
}

.previous_button {
  float: left;
}

.next_button {
  float: right;
}

a {
  text-decoration: none;
  height: 100%;
  color: $lightest-grey;


  &:hover {
    transition: all 1s ease;    
    color: $light-grey;

    img:hover {
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
      transition: all 1s ease;   
  }
}

  &:active {
    color: $lighter-grey;
  }
}

.post_thumbnail {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  border: 1px solid $dark-grey;
  border-radius: 2px;
  height: auto;
  text-align: center;
  background:$darker-grey;
  transform: rotate(5deg);

  .post_thumbnail_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    // border: 1px solid $light-grey;
    border-radius: 2px;
  }

  .post_thumbnail_title {
    display: block;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    
    h4 {
      font-size: 1.3em;
      display: inline;
    }
  }
}

.post_thumbnail:nth-child(3n) {
  transform: rotate(5deg);
}

.post_thumbnail:nth-child(3n + 1) {
  transform: rotate(-2deg);
}

.post_thumbnail:nth-child(3n + 2) {
  transform: rotate(1deg);
}

// ---- Media Queries begin ----
@include mediaMd {

  // .post-thumbnails {
  // grid-template-columns: repeat(3, 1fr);
  // grid-auto-rows: minmax(100px, 400px);
  // }

  .post-thumbnails {
    grid-template-columns: 1fr;
  }
  #post-list {
    max-width: 80vw;
    width: 600px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;

    .post-content {
      margin-top: 0;
    }
  }

  .post-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    p,
    h2,
    h3,
    h4,
    ul {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

  }
}