<body>
  <header class="hello">
    <div class="header">

      <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fa fa-bars"></i>
        </span>
        <!-- <a href="#" class="logo">logo</a> -->
        <ul class="main-nav" id="js-menu">
          <li>
            <a href="/" class="nav-links">Home</a>
          </li>
          <li>
            <a href="/posts" class="nav-links">Blog</a>
          </li>
          <li>
            <a href="/about" class="nav-links">About Me</a>
          </li>
          <li>
            <a href="/now" class="nav-links">Now</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>