<!-- // 1920px (this covers FullHD screens and up)
// 1600px (this will cover 1600px desktops and several tablets in portrait mode, for example iPads at 768px width, which will request a 2x image of 1536px and above)
// 1366px (it is the most widespread desktop resolution)
// 1024px (1024x768 screens, excluding iPads which are hi-density anyway, are rarer, but I think you need some image size in between, not to leave too big a gap between pixel sizes, in case the market changes)
// 768px (useful for 2x 375px mobile screens, as well as any device that actually requests something close to 768px)
// 640px (for smartphones) -->


{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
  <figure>
    <a href="{{.RelPermalink}}">
      <img
        srcset="
          {{ (.Resize "640x").RelPermalink }} 320w,
          {{ (.Resize "1024x").RelPermalink }} 600w,
          {{ (.Resize "1600x").RelPermalink }} 2x"
        src="{{ (.Resize "1024x").RelPermalink }}" alt="{{$altText}}"/>
    </a>
    <figcaption>{{ $caption }}</figcaption>
  </figure>
{{ else }}
  could not find image
{{ end }}